/* Version 0.1.5 */

/* ---------------------------------------------------------------------- TOP BAR ---------------------------------------------------------------------- */

/* defindes the Font to use across all of the Nextclouds Site */
body {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif !important;
}

/* adds a shadow below the bar at the top */
#body-user #header {
    box-shadow: var(--box-shadow);
}

/* restyles the Shadow of the Header Menu */
#header .menu {
    box-shadow: var(--box-shadow);
    filter: none;
}

/* makes the Edges of the Header Menu rounded */
#expanddiv {
    border-radius: 4px !important;
}

/* sets the Space besides the Text in the Header Menu */
#expanddiv a {
    padding: 10px 10px 0;
}

/* removes the little Bar at the left of a selected Element in the Header Menu */
#expanddiv > ul > li > a {
    box-shadow: none !important;
}

/* sets the Background and Font Color of the selected Element in the Header Menu */
#expanddiv > ul > li > a.active {
    background-color: rgba(var(--primary-color), 0.25);
    color: rgb(var(--primary-color));
    font-weight: bold;
}

/* sets the Background Color of hovered Elements in the Header Menu */
#expanddiv li:hover {
    box-shadow: none;
    background-color: rgba(var(--inactive-color), 0.25);
}

/* ---------------------------------------------------------------------- APP DRAWER ---------------------------------------------------------------------- */

/* removes the little Bar at the left of a selected Element in the App Drawer */
#appmenu li a.active::before {
    display: none;
}

/* sets the Font Color, Icon Size and Opacity of all Elements in the App Drawer */
#app-navigation > ul > li > a,
#app-navigation > ul > li > ul > li > a {
    color: #757575;
    background-size: var(--app-drawer-icon-size);
    opacity: 1.0;
}

/* sets the Background Color of hovered Elements in the App Drawer */
#app-navigation > ul > li:hover,
#app-navigation > ul > li:hover > a {
    box-shadow: none;
    background-color: var(--highlight-color);
}

/* sets the Background and Font Color of the selected Element in the App Drawer */
#app-navigation > ul > li:focus,
#app-navigation > ul > li.active,
#app-navigation > ul > li a.selected,
#app-navigation > ul > li:focus > a,
#app-navigation > ul > li.active > a {
    box-shadow: none;
    background-color: rgba(var(--primary-color), 0.25);
    color: rgb(var(--primary-color));
    font-weight: bold;
}

/* fixes the Background of the selected Element in the Apps App Drawer And User Management */
#apps-categories li:nth-child(n).active,
#usergrouplist li:nth-child(n).active {
    background-color: rgba(255, 255, 255, 0.0);
}

#apps-categories li:nth-child(n).active .app-navigation-entry-utils,
#usergrouplist li:nth-child(n).active .app-navigation-entry-utils {
    background-color: rgba(var(--primary-color), 0.25) !important;
}

/*
		    ---------- replacing the Icons ----------
	    */

/* removes all default Icons */
#app-navigation > ul > li:nth-child(n) > a > img {
    display: none;
}

#app-navigation ul.with-icon li a,
.settings-button {
    background-image: none;
}

/* defindes the Icon preferences */
#app-navigation > ul > li:nth-child(n) > a::before,
.settings-button::before {
    content: "";
    height: 24px;
    width: 24px;
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 12px;
}

/* sets the Icon color when the Element is not selected */
ul li a::before,
.settings-button::before {
    background-color: rgb(var(--inactive-color));
}

/* sets the Icon color when the Element is selected */
ul li.active a::before {
    background-color: rgb(var(--primary-color));
}

/* replaces the Files Icon */
.nav-icon-files::before {
    mask-image: var(--folder-icon);
}

/* replaces the Recent Icon ::before*/
.nav-icon-recent::before {
    mask-image: var(--recent-icon);
}

/* replaces the Favorites Icon */
.nav-icon-favorites::before {
    mask-image: var(--favorites-icon);
}

/* replaces the SharingIn Icon */
.nav-icon-sharingin::before {
    mask-image: var(--sharing-icon);
}

/* replaces the SharingOut Icon */
.nav-icon-sharingout::before {
    mask-image: var(--sharing-icon);
}

/* replaces the SharingLinks Icon */
.nav-icon-sharinglinks::before {
    mask-image: var(--sharinglinks-icon);
}

/* replaces the SystemTagsFilter Icon */
.nav-icon-systemtagsfilter::before {
    mask-image: var(--tags-icon);
}

/* replaces the ExtStorageMounts Icon */
.nav-icon-extstoragemounts::before {
    mask-image: var(--extstoragemounts-icon);
}

/* makes the Settings Button Font Bold and replaces the Icon */
.settings-button {
    font-weight: bold;
    opacity: 1.0;
    box-shadow: none !important;
    color: #757575;
}

/* replaces the Settings Icon */
.settings-button::before {
    mask-image: var(--settings-icon);
    top: 12px
}

/* sets the Background when the Element is hovered */
.settings-button:hover {
    background-color: var(--highlight-color);
}

/* replaces the Quota Icon */
.nav-icon-quota::before {
    mask-image: var(--quota-icon);
}

/*
	    ---------- Personal Settings ----------
    */

/* replaces the Personal Information Icon */
#body-settings #content.app-settings #app-navigation > ul > li:nth-child(2) > a:nth-child(1)::before {
    mask-image: var(--information-icon);
}

/* replaces the Security Icon */
#body-settings #content.app-settings #app-navigation > ul > li:nth-child(3) > a:nth-child(1)::before {
    mask-image: var(--security-icon);
}

/* replaces the ExtStorageMounts Icon */
#body-settings #content.app-settings #app-navigation > ul > li:nth-child(4) > a:nth-child(1)::before {
    mask-image: var(--extstoragemounts-icon);
}

/* replaces the Sharing Icon */
#body-settings #content.app-settings #app-navigation > ul > li:nth-child(5) > a:nth-child(1)::before {
    mask-image: var(--sharing-icon);
}

/* replaces the additional Settings Icon */
#body-settings #content.app-settings #app-navigation > ul > li:nth-child(6) > a:nth-child(1)::before {
    mask-image: var(--settings-icon);
}

/*
	    ---------- Administration Settings ----------
	*/

/* replaces the Basic Settings Icon */
#body-settings #content.app-settings #app-navigation > ul > li:nth-child(8) > a:nth-child(1)::before {
    mask-image: var(--basicsettings-icon);
}

/* replaces the Performance Information Icon */
#body-settings #content.app-settings #app-navigation > ul > li:nth-child(9) > a:nth-child(1)::before {
    mask-image: var(--performanceinformation-icon);
}

/* replaces the Share Icon */
#body-settings #content.app-settings #app-navigation > ul > li:nth-child(10) > a:nth-child(1)::before {
    mask-image: var(--sharing-icon);
}

/* replaces the Security Icon */
#body-settings #content.app-settings #app-navigation > ul > li:nth-child(11) > a:nth-child(1)::before {
    mask-image: var(--security-icon);
}

/* replaces the ExtStorageMounts Icon */
#body-settings #content.app-settings #app-navigation > ul > li:nth-child(12) > a:nth-child(1)::before {
    mask-image: var(--extstoragemounts-icon);
}

/* replaces the Theming Icon */
#body-settings #content.app-settings #app-navigation > ul > li:nth-child(13) > a:nth-child(1)::before {
    mask-image: var(--theming-icon);
}

/* replaces the Encryption Icon */
#body-settings #content.app-settings #app-navigation > ul > li:nth-child(14) > a:nth-child(1)::before {
    mask-image: var(--encryption-icon);
}

/* replaces the External Sites Icon (Extension) */
#body-settings #content.app-settings #app-navigation > ul > li:nth-child(15) > a:nth-child(1)::before {
    mask-image: var(--extension-icon);
}

/* replaces the Workflow Icon */
#body-settings #content.app-settings #app-navigation > ul > li:nth-child(16) > a:nth-child(1)::before {
    mask-image: var(--tags-icon);
}

/* replaces the Logging Icon */
#body-settings #content.app-settings #app-navigation > ul > li:nth-child(17) > a:nth-child(1)::before {
    mask-image: var(--list-icon);
}

/* replaces the Additional Settings Icon */
#body-settings #content.app-settings #app-navigation > ul > li:nth-child(18) > a:nth-child(1)::before {
    mask-image: var(--settings-icon);
}

/* replaces the Tips & tricks Icon */
#body-settings #content.app-settings #app-navigation > ul > li:nth-child(19) > a:nth-child(1)::before {
    mask-image: var(--information-icon);
}

/* prevents the replacing of the Icons on the Apps Site, User Management and the Calendar */
div#content.app-settings div#app-navigation.without-app-settings ul#apps-categories > li > a::before,
div#content.app-settings div#app-navigation ul#usergrouplist > li > a::before,
div#content.app-calendar div.app.ng-scope div#app-navigation ul#calendarlistcontainer.ng-scope > li > a.action.permanent.ng-binding::before {
    display: none;
}

/* ---------------------------------------------------------------------- TOP BAR BUTTONS ---------------------------------------------------------------------- */

/* removes all default Icons */
#appmenu > li:nth-child(-n+5) > a > svg > image {
    display: none;
}

/* replaces the Files Icon */
#appmenu > li:nth-child(1) > a:nth-child(1) > svg:nth-child(1) {
    background-image: var(--files-icon);
    background-size: calc(var(--top-bar-icon-size) + 2px) auto;
}

/* replaces the Gallery Icon */
#appmenu > li:nth-child(2) > a:nth-child(1) > svg:nth-child(1) {
    background-image: var(--gallery-icon);
    background-size: calc(var(--top-bar-icon-size) + 2px) auto;
}

/* replaces the Music Icon */
#appmenu > li:nth-child(3) > a:nth-child(1) > svg:nth-child(1) {
    background-image: var(--music-icon);
    background-size: calc(var(--top-bar-icon-size) + 2px) auto;
}

/* replaces the Calendar Icon */
#appmenu > li:nth-child(4) > a:nth-child(1) > svg:nth-child(1) {
    background-image: var(--calendar-icon);
    background-size: calc(var(--top-bar-icon-size) + 2px) auto;
}

/* replaces the Contacts Icon */
#appmenu > li:nth-child(5) > a:nth-child(1) > svg:nth-child(1) {
    background-image: var(--contacts-icon);
    background-size: calc(var(--top-bar-icon-size) + 0px) auto;
}

/* replaces the Contacts Menu Icon */
.icon-contacts {
    background-image: var(--contactsmenu-icon-white);
    background-size: calc(var(--top-bar-icon-size) + 2px) auto !important;
}

/* removes all default Icons */
#expanddiv > ul > li:nth-child(n) > a > img {
    display: none;
}

/* ---------------------------------------------------------------------- OTHER BUTTONS ---------------------------------------------------------------------- */

/* determines the General Design of Buttons */
.ng-binding button.ng-binding {
    border-radius: 2px;
    border: none;
    background-color: rgb(var(--primary-color)) !important;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: background-color;
    color: rgb(255, 255, 255);
}

.ng-binding button.ng-binding:hover {
    background-color: rgba(var(--primary-color), 0.7) !important;
}

/* sets the height = width and round Edges for small Buttons */
div#controls div.actions.creatable .button,
.button.view-switcher {
    border-radius: 20px;
    width: 0px;
    min-width: 36px;
    min-height: 36px;
}

.button {
    border-radius: 2px;
    border: none;
    background-color: transparent;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: background-color;
}

.button:not(:disabled):not(.primary):hover {
    background-color: #e0e0e0;
}

.icon-add.ng-binding {
    border-radius: 2px;
    border: none;
    background-color: rgb(var(--primary-color));
    color: rgb(255, 255, 255)
}

.icon-add.ng-binding:hover {
    background-color: rgba(var(--primary-color), 0.7) !important;
}

/* determines the Design of the File upload Button */
a.button.new {
    border-radius: 36px;
    width: 36px !important;
    height: 36px !important;
    padding: auto !important;
    border: none;
    top: -1px;
    background-color: rgb(var(--primary-color)) !important;
    box-shadow: var(--box-shadow);
    color: rga(255, 255, 255)
}

a.button.new:hover {
    background-color: rgba(var(--primary-color), 0.7) !important;
}

/* replaces the Icon of the File upload Button */
a.button.new span.icon.icon-add {
    background-image: var(--plus-icon);
    background-size: 20px 20px !important;
    opacity: 1.0 !important;
    margin-top: 1px !important;
    color: rgb(255, 255, 255)
}

/* replaces the add Icon in the App Drawer */
#app-navigation ul.ng-isolate-scope li.ng-scope.ng-isolate-scope a.ng-binding::before {
    mask-image: var(--plus-icon);
}

/* replaces the add Icon on some Buttons with a white one */
.ng-isolate-scope .icon-add {
    background-image: var(--plus-icon);
}

/* extra add Icon Button fixes for the Calendar */
#content.app-calendar .icon-add {
    background-image: none;
}

#content.app-calendar .icon-add::before {
    mask-image: var(--plus-icon);
}

/* replaces the share Icon */
.icon-shared {
    background-image: var(--sharing-icon);
    background-size: 20px 20px;
}

/* determines the Design of the Input Field */
input:not([type="radio"]):not([type="checkbox"]):not([type="range"]):not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="color"]):not([type="file"]):not([type="image"]) {
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #919191;
    border-radius: 0;
}

/* Combobox adjustments */
.select2-container-multi .select2-choices,
.select2-container-multi.select2-container-active .select2-choices {
    border: none;
}

/* Passman adjustments */
ul li.taginput a.taginput div.host div.tags {
    box-shadow: none;
    border: none;
}

/* determines the Design of DropDown Fields */
select {
    border: none;
    background-color: #e0e0e0;
}

/* Replaces the Folder Icon in the File Browser */
tr.ui-droppable div.thumbnail,
#app-content-extstoragemounts div.thumbnail {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="rgb(117,117,117)"><path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') !important;
}

/* ---------------------------------------------------------------------- SEARCHBOX ---------------------------------------------------------------------- */

/* replaces the Magnifying Glass Icon */
.searchbox input[type="search"] {
    background: transparent url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="rgb(255,255,255)"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>') no-repeat 16px center;
    background-size: 20px 20px
}

/* determines the Design of the Searchbox */
#searchbox,
#searchbox:hover {
    -webkit-text-fill-color: secondary-color;
    min-width: 200px;
    border-radius: 4px !important;
    border: none !important;
    background-color: hsla(0, 0%, 100%, .15) !important;
    box-shadow: none !important;
    padding-left: 52px !important;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif !important;
    outline: none !important;
    opacity: 1.0 !important;
}

/* ---------------------------------------------------------------------- MISC ---------------------------------------------------------------------- */

/* removes the transparency of the File-Path Bar and adds a Border */
#controls {
    background-color: #fff;
    border-bottom: solid !important;
    border-bottom-width: 1px !important;
    border-color: #e8eaed !important;
}

/* removes the transparency of the Selected-File-Operations Bar and adds a Border */
table.has-controls:nth-child(4) > thead:nth-child(1) {
    background-color: rgba(255, 255, 255, 255);
    border-bottom: solid !important;
    border-bottom-width: 1px !important;
    border-color: #e8eaed !important;
}

/* removes the Border between the App Drawer and File Browser */
#app-navigation,
#app-settings-header,
#app-settings-content {
    border-right: 0;
}

/* adds space over the First App Drawer Element */
#app-navigation {
    padding-top: 43px
}

/* replaces the Arrow Icons in the File-Path Bar */
div.crumb {
    background-image: var(--arrow-icon);
    background-size: 12px 12px;
}

/* removes the Triangle over the Tool-Tip */
#appmenu li:hover a::before,
#appmenu li a.active::before,
#expand::before,
#expanddiv::after {
    display: none !important;
}

/* changes the Design of the Tool-Tip */
#appmenu li span {
    color: rgb(255, 255, 255);
    background-color: rgb(var(--inactive-color));
    filter: none;
}

/* fixes the Icon Overflow in the Top Bar */
#appmenu {
    height: 45px;
}

/* Ressource Variables decleration */
:root {
    /* color decleration */
    --primary-color: 0, 130, 201;
    --inactive-color: 117, 117, 117;
    --highlight-color: #f1f3f4;
    --top-bar-icon-size: 20px;
    --app-drawer-icon-size: 20px 20px;
    --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    /* App Drawer Icon decleration */
    --folder-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M10%204H4c-1.1%200-1.99.9-1.99%202L2%2018c0%201.1.9%202%202%202h16c1.1%200%202-.9%202-2V8c0-1.1-.9-2-2-2h-8l-2-2z%22%2F%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
    --recent-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M11.99%202C6.47%202%202%206.48%202%2012s4.47%2010%209.99%2010C17.52%2022%2022%2017.52%2022%2012S17.52%202%2011.99%202zM12%2020c-4.42%200-8-3.58-8-8s3.58-8%208-8%208%203.58%208%208-3.58%208-8%208z%22%2F%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M12.5%207H11v6l5.25%203.15.75-1.23-4.5-2.67z%22%2F%3E%3C%2Fsvg%3E');
    --favorites-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M12%2021.35l-1.45-1.32C5.4%2015.36%202%2012.28%202%208.5%202%205.42%204.42%203%207.5%203c1.74%200%203.41.81%204.5%202.09C13.09%203.81%2014.76%203%2016.5%203%2019.58%203%2022%205.42%2022%208.5c0%203.78-3.4%206.86-8.55%2011.54L12%2021.35z%22%2F%3E%3C%2Fsvg%3E');
    --sharing-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M18%2016.08c-.76%200-1.44.3-1.96.77L8.91%2012.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5%201.25.81%202.04.81%201.66%200%203-1.34%203-3s-1.34-3-3-3-3%201.34-3%203c0%20.24.04.47.09.7L8.04%209.81C7.5%209.31%206.79%209%206%209c-1.66%200-3%201.34-3%203s1.34%203%203%203c.79%200%201.5-.31%202.04-.81l7.12%204.16c-.05.21-.08.43-.08.65%200%201.61%201.31%202.92%202.92%202.92%201.61%200%202.92-1.31%202.92-2.92s-1.31-2.92-2.92-2.92z%22%2F%3E%3C%2Fsvg%3E');
    --sharinglinks-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M3.9%2012c0-1.71%201.39-3.1%203.1-3.1h4V7H7c-2.76%200-5%202.24-5%205s2.24%205%205%205h4v-1.9H7c-1.71%200-3.1-1.39-3.1-3.1zM8%2013h8v-2H8v2zm9-6h-4v1.9h4c1.71%200%203.1%201.39%203.1%203.1s-1.39%203.1-3.1%203.1h-4V17h4c2.76%200%205-2.24%205-5s-2.24-5-5-5z%22%2F%3E%3C%2Fsvg%3E');
    --tags-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M21.41%2011.58l-9-9C12.05%202.22%2011.55%202%2011%202H4c-1.1%200-2%20.9-2%202v7c0%20.55.22%201.05.59%201.42l9%209c.36.36.86.58%201.41.58.55%200%201.05-.22%201.41-.59l7-7c.37-.36.59-.86.59-1.41%200-.55-.23-1.06-.59-1.42zM5.5%207C4.67%207%204%206.33%204%205.5S4.67%204%205.5%204%207%204.67%207%205.5%206.33%207%205.5%207z%22%2F%3E%3C%2Fsvg%3E');
    --extstoragemounts-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M19%2019H5V5h7V3H5c-1.11%200-2%20.9-2%202v14c0%201.1.89%202%202%202h14c1.1%200%202-.9%202-2v-7h-2v7zM14%203v2h3.59l-9.83%209.83%201.41%201.41L19%206.41V10h2V3h-7z%22%2F%3E%3C%2Fsvg%3E');
    --settings-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h20v20H0V0z%22%2F%3E%3Cpath%20d%3D%22M15.95%2010.78c.03-.25.05-.51.05-.78s-.02-.53-.06-.78l1.69-1.32c.15-.12.19-.34.1-.51l-1.6-2.77c-.1-.18-.31-.24-.49-.18l-1.99.8c-.42-.32-.86-.58-1.35-.78L12%202.34c-.03-.2-.2-.34-.4-.34H8.4c-.2%200-.36.14-.39.34l-.3%202.12c-.49.2-.94.47-1.35.78l-1.99-.8c-.18-.07-.39%200-.49.18l-1.6%202.77c-.1.18-.06.39.1.51l1.69%201.32c-.04.25-.07.52-.07.78s.02.53.06.78L2.37%2012.1c-.15.12-.19.34-.1.51l1.6%202.77c.1.18.31.24.49.18l1.99-.8c.42.32.86.58%201.35.78l.3%202.12c.04.2.2.34.4.34h3.2c.2%200%20.37-.14.39-.34l.3-2.12c.49-.2.94-.47%201.35-.78l1.99.8c.18.07.39%200%20.49-.18l1.6-2.77c.1-.18.06-.39-.1-.51l-1.67-1.32zM10%2013c-1.65%200-3-1.35-3-3s1.35-3%203-3%203%201.35%203%203-1.35%203-3%203z%22%2F%3E%3C%2Fsvg%3E');
    --quota-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M19.35%2010.04C18.67%206.59%2015.64%204%2012%204%209.11%204%206.6%205.64%205.35%208.04%202.34%208.36%200%2010.91%200%2014c0%203.31%202.69%206%206%206h13c2.76%200%205-2.24%205-5%200-2.64-2.05-4.78-4.65-4.96zM19%2018H6c-2.21%200-4-1.79-4-4s1.79-4%204-4h.71C7.37%207.69%209.48%206%2012%206c3.04%200%205.5%202.46%205.5%205.5v.5H19c1.66%200%203%201.34%203%203s-1.34%203-3%203z%22%2F%3E%0A%3C%2Fsvg%3E%0A');
    --information-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M12%202C6.48%202%202%206.48%202%2012s4.48%2010%2010%2010%2010-4.48%2010-10S17.52%202%2012%202zm1%2015h-2v-6h2v6zm0-8h-2V7h2v2z%22%2F%3E%3C%2Fsvg%3E');
    --security-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M18%208h-1V6c0-2.76-2.24-5-5-5S7%203.24%207%206v2H6c-1.1%200-2%20.9-2%202v10c0%201.1.9%202%202%202h12c1.1%200%202-.9%202-2V10c0-1.1-.9-2-2-2zm-6%209c-1.1%200-2-.9-2-2s.9-2%202-2%202%20.9%202%202-.9%202-2%202zm3.1-9H8.9V6c0-1.71%201.39-3.1%203.1-3.1%201.71%200%203.1%201.39%203.1%203.1v2z%22%2F%3E%3C%2Fsvg%3E');
    --basicsettings-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M12%2010c-1.1%200-2%20.9-2%202s.9%202%202%202%202-.9%202-2-.9-2-2-2zm7-7H5c-1.11%200-2%20.9-2%202v14c0%201.1.89%202%202%202h14c1.11%200%202-.9%202-2V5c0-1.1-.89-2-2-2zm-1.75%209c0%20.23-.02.46-.05.68l1.48%201.16c.13.11.17.3.08.45l-1.4%202.42c-.09.15-.27.21-.43.15l-1.74-.7c-.36.28-.76.51-1.18.69l-.26%201.85c-.03.17-.18.3-.35.3h-2.8c-.17%200-.32-.13-.35-.29l-.26-1.85c-.43-.18-.82-.41-1.18-.69l-1.74.7c-.16.06-.34%200-.43-.15l-1.4-2.42c-.09-.15-.05-.34.08-.45l1.48-1.16c-.03-.23-.05-.46-.05-.69%200-.23.02-.46.05-.68l-1.48-1.16c-.13-.11-.17-.3-.08-.45l1.4-2.42c.09-.15.27-.21.43-.15l1.74.7c.36-.28.76-.51%201.18-.69l.26-1.85c.03-.17.18-.3.35-.3h2.8c.17%200%20.32.13.35.29l.26%201.85c.43.18.82.41%201.18.69l1.74-.7c.16-.06.34%200%20.43.15l1.4%202.42c.09.15.05.34-.08.45l-1.48%201.16c.03.23.05.46.05.69z%22%2F%3E%3C%2Fsvg%3E');
    --performanceinformation-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22a%22%20d%3D%22M0%200h24v24H0V0z%22%2F%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3CclipPath%20id%3D%22b%22%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%0A%20%20%20%20%3C%2FclipPath%3E%0A%20%20%20%20%3Cpath%20clip-path%3D%22url%28%23b%29%22%20d%3D%22M23%208c0%201.1-.9%202-2%202-.18%200-.35-.02-.51-.07l-3.56%203.55c.05.16.07.34.07.52%200%201.1-.9%202-2%202s-2-.9-2-2c0-.18.02-.36.07-.52l-2.55-2.55c-.16.05-.34.07-.52.07s-.36-.02-.52-.07l-4.55%204.56c.05.16.07.33.07.51%200%201.1-.9%202-2%202s-2-.9-2-2%20.9-2%202-2c.18%200%20.35.02.51.07l4.56-4.55C8.02%209.36%208%209.18%208%209c0-1.1.9-2%202-2s2%20.9%202%202c0%20.18-.02.36-.07.52l2.55%202.55c.16-.05.34-.07.52-.07s.36.02.52.07l3.55-3.56C19.02%208.35%2019%208.18%2019%208c0-1.1.9-2%202-2s2%20.9%202%202z%22%2F%3E%0A%3C%2Fsvg%3E%0A');
    --theming-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M18%204V3c0-.55-.45-1-1-1H5c-.55%200-1%20.45-1%201v4c0%20.55.45%201%201%201h12c.55%200%201-.45%201-1V6h1v4H9v11c0%20.55.45%201%201%201h2c.55%200%201-.45%201-1v-9h8V4h-3z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%0A%3C%2Fsvg%3E%0A');
    --encryption-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M18%208h-1V6c0-2.76-2.24-5-5-5S7%203.24%207%206v2H6c-1.1%200-2%20.9-2%202v10c0%201.1.9%202%202%202h12c1.1%200%202-.9%202-2V10c0-1.1-.9-2-2-2zM8.9%206c0-1.71%201.39-3.1%203.1-3.1s3.1%201.39%203.1%203.1v2H8.9V6zM16%2016h-3v3h-2v-3H8v-2h3v-3h2v3h3v2z%22%2F%3E%0A%20%20%20%20%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%2F%3E%0A%3C%2Fsvg%3E%0A');
    --extension-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M20.5%2011H19V7c0-1.1-.9-2-2-2h-4V3.5C13%202.12%2011.88%201%2010.5%201S8%202.12%208%203.5V5H4c-1.1%200-1.99.9-1.99%202v3.8H3.5c1.49%200%202.7%201.21%202.7%202.7s-1.21%202.7-2.7%202.7H2V20c0%201.1.9%202%202%202h3.8v-1.5c0-1.49%201.21-2.7%202.7-2.7%201.49%200%202.7%201.21%202.7%202.7V22H17c1.1%200%202-.9%202-2v-4h1.5c1.38%200%202.5-1.12%202.5-2.5S21.88%2011%2020.5%2011z%22%2F%3E%0A%3C%2Fsvg%3E%0A');
    --list-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M3%2013h2v-2H3v2zm0%204h2v-2H3v2zm0-8h2V7H3v2zm4%204h14v-2H7v2zm0%204h14v-2H7v2zM7%207v2h14V7H7z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%0A%3C%2Fsvg%3E%0A');
    /* Top Bar Icon decleration */
    --files-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22rgb(255%2C255%2C255)%22%3E%3Cpath%20d%3D%22M10%204H4c-1.1%200-1.99.9-1.99%202L2%2018c0%201.1.9%202%202%202h16c1.1%200%202-.9%202-2V8c0-1.1-.9-2-2-2h-8l-2-2z%22%2F%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
    --gallery-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22rgb(255%2C255%2C255)%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M22%2016V4c0-1.1-.9-2-2-2H8c-1.1%200-2%20.9-2%202v12c0%201.1.9%202%202%202h12c1.1%200%202-.9%202-2zm-11-4l2.03%202.71L16%2011l4%205H8l3-4zM2%206v14c0%201.1.9%202%202%202h14v-2H4V6H2z%22%2F%3E%3C%2Fsvg%3E');
    --music-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22rgb(255%2C255%2C255)%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M20%202H8c-1.1%200-2%20.9-2%202v12c0%201.1.9%202%202%202h12c1.1%200%202-.9%202-2V4c0-1.1-.9-2-2-2zm-2%205h-3v5.5c0%201.38-1.12%202.5-2.5%202.5S10%2013.88%2010%2012.5s1.12-2.5%202.5-2.5c.57%200%201.08.19%201.5.51V5h4v2zM4%206H2v14c0%201.1.9%202%202%202h14v-2H4V6z%22%2F%3E%3C%2Fsvg%3E');
    --calendar-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22rgb(255%2C255%2C255)%22%3E%3Cpath%20d%3D%22M17%2012h-5v5h5v-5zM16%201v2H8V1H6v2H5c-1.11%200-1.99.9-1.99%202L3%2019c0%201.1.89%202%202%202h14c1.1%200%202-.9%202-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3%2018H5V8h14v11z%22%2F%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
    --contacts-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22rgb(255%2C255%2C255)%22%3E%3Cpath%20d%3D%22M0%200h24v24H0zm0%200h24v24H0zm0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M20%200H4v2h16V0zM4%2024h16v-2H4v2zM20%204H4c-1.1%200-2%20.9-2%202v12c0%201.1.9%202%202%202h16c1.1%200%202-.9%202-2V6c0-1.1-.9-2-2-2zm-8%202.75c1.24%200%202.25%201.01%202.25%202.25s-1.01%202.25-2.25%202.25S9.75%2010.24%209.75%209%2010.76%206.75%2012%206.75zM17%2017H7v-1.5c0-1.67%203.33-2.5%205-2.5s5%20.83%205%202.5V17z%22%2F%3E%3C%2Fsvg%3E');
    /* Misc Icons decleration */
    --contactsmenu-icon-white: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="rgb(255,255,255)"><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>');
    --contactsmenu-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>');
    --arrow-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M5.88%204.12L13.76%2012l-7.88%207.88L8%2022l10-10L8%202z%22%2F%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%2F%3E%3C%2Fsvg%3E');
    --plus-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="rgb(255,255,255)"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}